:root {
  /* Theme */
  --background-primary: #ffffff;
  --foreground: #171717;

  /* box shadow */
  --shadow-md: box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  --color-text: #1a1a1a;
  --color-bg: #ffffff;
  --color-border: #dddddd;
  --color-header-bg: #f7f7f7;
  --color-accent: #0070f3;

  --color--bg-status-ok: #dbf8e0;
  --color-status-ok: #2e7d32;

  --color-status-error: #c62828;
  --font-body: 'Segoe UI', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background-primary);
  font-family: var(--font-body);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
