.modalOverlay {
  position: fixed;
  inset: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #0000009b;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1000;
  /* estado base: invisible */
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.modalOverlay.visible {
  opacity: 1;
  pointer-events: auto;
}

.modalContainer {
  background-color: #fff;
  display: flex;
  flex-direction:column;
  height: 100%;
  width: 500px;
  max-width: 90%;
  border-radius: 8px;
  overflow: hidden;
  margin: 16px;

  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.modalContainer.entered {
  transform: translateX(0);
  opacity: 1;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-bottom: 1px solid #eee;
  padding: 16px
}

.modalHeader h2 {
  color: #525252;
  font-size: x-large;
  font-weight: 700;
  margin: 0;
}

.modalContent {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
}

.modalFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  background-color: #e5e5e5;
  padding: 16px;
}
