.modalOverlay {
  position:absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #0000009b;
  display: grid;
  place-content: center;
}

.modalContainer {
  background-color: #fff;
}
