.tableProducts {
  table-layout: auto;
  max-width: 100%;
  font-family: var(--font-body);
  border-collapse: collapse;
  /* border: 1px solid var(--color-border); */
  background-color: var(--color-bg);
  color: var(--color-text);
}

.tableCaption {
  background-color: var(--color-header-bg);
  padding: 0.75rem 1rem;
  text-align: left;
}

.columnHeader {
  text-align: left;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--color-border);
  font-size: 0.95rem;
  white-space: nowrap;
}

.tableRow {
  border-bottom: 1px solid var(--color-border);
}

.cell {
  padding: 0.75rem 1rem;
  vertical-align: center;
  font-size: 0.9rem;
  & .productCard {
    min-width: 150px;
  }
}
