.tableProducts {
  table-layout: auto;
  width: 100%;
  font-family: var(--font-body);
  border-collapse: collapse;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.tableCaption {
  background-color: var(--color-header-bg);
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid var(--color-border);
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1.75em;
  font-weight: bold;
}

.columnHeader {
  text-align: left;
  padding: 0.75rem 1rem;
  font-size: 0.95rem;
  white-space: nowrap;
}

.tableRow {
  transition: background-color 0.2s ease;
  border-bottom: 1px solid var(--color-border);
}

.tableRow:hover {
  background-color: var(--color-hover-bg);
}

.cell {
  padding: 0.75rem 1rem;
  vertical-align: center;
  font-size: 0.9rem;
}

/* skeleton */
.skeletonLoaderContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  animation: fadeIn 0.5s ease-out;
}

.skeletonRow {
  display: flex;
  gap: 10px; /* Espacio entre las celdas de esqueleto */
  width: 100%;
  height: 15px;
  border-radius: 8px;
  animation: pulse 1.5s infinite ease-in-out;
}

.skeletonCell {
  flex-grow: 1;
  background-color: var(--color-neutral-800);
  border-radius: 99px;
}


.fadeInRow {
  animation: fadeInSlideUp 0.5s ease-out both;
}

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
