.dashboardProducts__nav {
	width: 100%;
	width: 100%;
}
.dashboardLayout__menuIcon {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 4px;
}
.dashboardProducts__nav_list {
	width: 100%;
}

.dashboardProducts__nav_listItem {
	justify-self: flex-end;
}

.dashboard {
	width: 100%;
	grid-area: "dashboard";
	grid-column: col-start 3 / span 10;
	display: flex;
	flex-direction: column;
	min-height: 90vh;
	gap: 32px;
	padding: 16px;
}

.dashboardProducts {
	flex-grow: 1;
}

.gridBackground {
	background-image:
		linear-gradient(to right, #33333376 1px, transparent 1px),
		linear-gradient(to bottom, #33333376 1px, transparent 1px);
	background-size: 20px 20px;
	-webkit-mask-image: radial-gradient(ellipse 50% 50% at 50% 50%, #000 80%, transparent 100%);
	mask-image: radial-gradient(ellipse 50% 50% at 50% 50%, #000 80%, transparent 100%);
}
