.wrapperIcon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.titleApp {
  font-size: 2em;
  color: #fff;
}

/* animacion loader  */
.loader {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
