.title {
	font-family: -apple-system, BlinkMacSystemFont, "Inter", "Helvetica Neue", Arial, sans-serif;
	font-weight: 800;
	letter-spacing: -0.02em;

	font-size: 28px;
	line-height: 1.05;

	color: hsl(0, 0%, 100%);

	transform: translateY(1px);
}
