.scroller {
	max-width: 1024px;
	max-height: 200px;
	background-color: var(--background-primary);
	overflow: hidden;
	position: relative;
}

.scrollerInner {
	padding-block: 1rem;
	display: flex;
	flex-wrap: wrap;
	width: max-content;
}

.scroller[data-animated="true"] {
	overflow: hidden;
	mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scrollerInner {
	width: max-content;
	flex-wrap: nowrap;
	animation: scroll var(--_animation-speed, 45s) var(--_animation-direction, forwards) linear
		infinite;
}

.scroller[data-direction="right"] {
	--_animation-direction: reverse;
}

.scroller[data-direction="left"] {
	--_animation-direction: forwards;
}

.scroller[data-speed="normal"] {
	--_animation-speed: 40s;
}

.scroller[data-speed="slow"] {
	--_animation-speed: 80s;
}

.scroller[data-speed="fast"] {
	--_animation-speed: 20s;
}

.scroller.paused .scrollerInner {
	animation-play-state: paused;
}

.carouselList {
	margin: 0;
	padding-inline: 0;
	list-style: none;
	width: 100%;
	height: 100%;
}

.carouselList__item {
	padding: 0.75em;
	flex-shrink: 0;
}

@keyframes scroll {
	to {
		transform: translate(calc(-50% - 0.5rem));
	}
}
