.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0.75rem 1rem;
  border-radius: 99px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #171717;
  box-shadow: #0000003d 0px 3px 8px;
  transition: background-color 300ms ease-in-out;
}

.button:hover {
  background-color: #171717d8;
}

.buttonLabel {
  text-transform: capitalize;
  cursor: inherit;
}
