.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0.25em 0.75em;
  border-radius: 99px;
  width: fit-content;
}

.chipText {
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
}
