.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  position: relative;
  border-radius: 4px;
}


.inputGroup__input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.75em 1em;
  border: 1px solid #e2e2e2;
  border-radius: inherit;
  background-color: #fff;
  color: #565656;
  font-size: 16px;
  appearance: none;
  outline: none;
  transition: all 0.3s ease-in-out;
  cursor: text;
}

.inputGroup__input:focus {
  border-color: #00a6ff;
}

.inputGroup__label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: var(--font-size-label);
  color: #565656;
  letter-spacing: 0.5px;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  padding: 0 0.5em;
}

.inputGroup__input:focus + .inputGroup__label,
.inputGroup__input:not(:placeholder-shown) + .inputGroup__label {
  top: 0;
  left: 10px;
  font-size: 12px;
  color: #565656;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --color-bg-input: #fff;
    --color-text-default: #000;
    --color-label: #666;
    --color-label-focus: #000;
    --color-border: #ccc;
  }
} */
